# Сгенерированные Unity папки
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/

# ProBuilder generated data
[Pp]roBuilder[Dd]ata/
[Pp]roBuilder[Aa]bout/

# Файлы проектов Visual Studio
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

# Настройки VS Code
.vscode/

# OS файлы
.DS_Store
Thumbs.db